<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="database" connectionString="SQLSERVER_CONNECTION_STRING" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes"/>
    <customErrors xdt:Transform="Replace" mode="Off" />
  </system.web>
  
  <!-- Uncommnet below to remove automatic migration for EF so that the database is not updated or seeded automatically -->
  <!--<entityFramework>
    <contexts xdt:Transform="Remove">
    </contexts>
  </entityFramework>-->
</configuration>