
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<input type="button" class="btn btn-sm btn-primary" value="New Contact" data-bind="click:$root.createProfile" />
<hr />

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email </th>
        <th></th>
    </tr>
    <tbody data-bind="foreach:Profiles">
        <tr>
            <td class="name"> <a data-bind="text:FirstName, click:$parent.editProfile"></a></td>
            <td data-bind="text:LastName"></td>
            <td data-bind="text:Email"></td>
            <td><button class="btn btn-sm btn-danger">remove</button></td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/Contact.js"></script>